h3{
    color:rgb(128, 0, 85);
    padding: 10px;
    margin: 10px;
}
.map{
    background-color: rgb(173, 2, 173);
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-size-adjust: 65;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin: 100px;
} 
button{
        width: 100px;
        margin: 15px 15px;
        background-color: rgb(128, 0, 85);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border: none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
}
button:hover{
    width: 100px;
        margin: 15px 15px;
        background-color: white;
        color: yellowgreen;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border: none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    #cat{
        width: 100px;
        margin: 15px 15px;
        background-color: rgb(15, 138, 238);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border: none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    
#cat:hover{
    width: 100px;
        margin: 15px 15px;
        background-color: white;
        color: rgb(50, 187, 205);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border: none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
}
    #green{
        width: 100px;
        margin: 15px 15px;
        background-color: green;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border: none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    
#green:hover{
    width: 100px;
        margin: 15px 15px;
        background-color: white;
        color: rgb(205, 50, 128);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border: none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
}